# EXCLUDE Unity YAML/Serialization files to fix language stats

*.mat linguist-vendored
*.asset linguist-vendored
*.prefab linguist-vendored
*.unity linguist-vendored
*.meta linguist-vendored

# Also mark C# explicitly to ensure it is fully counted
*.cs linguist-language=C#

# You can mark the HLSL files as well for accuracy, though they are code
*.hlsl linguist-language=HLSL
*.cginc linguist-language=HLSL